@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid homeheader">
    <div class="row">
        <div class="col">
            <h1>Diary Contents</h1>
        </div>
    </div>
    <div class="row">
        <div class="dropdown col text-center">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sort Topics by</button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Start date</a>
                <a class="dropdown-item" href="#">Title</a>
                <a class="dropdown-item" href="#">Completion date</a>
            </div>
        </div>
    </div>
</div>
<div class="container topic">
    <div class="container topicheaders">
        <div class="row">
            <div class="col-2">
                <h2>Topic1</h2>
            </div>
            <div class="col">
                <p>Description: asd asd asd</p>
            </div>
            <div class="col">
                <p>Time to master: 29 h</p>
            </div>
            <div class="col">
                <p>Time spent: 13 h</p>
            </div>

        </div>
        <div class="row">
            <div class="col">
                <p>Source: kirja</p>
            </div>
            <div class="col">
                <p>Learning start date: 1.1.2000</p>
            </div>
            <div class="col">
                <p>In progress: no</p>
            </div>
            <div class="col">
                <p>Completion date: 1.1.2000</p>
            </div>
        </div>
    </div>
    <div class="container task">
        <div class="row">
            <div class="col">
                <h3>Task1</h3>
            </div>
            <div class="col">
                <p>Description: asd asd asd</p>
            </div>
            <div class="col">
                <p>Deadline: 1.1.2000</p>
            </div>
            <div class="col">
                <p>Priority: High</p>
            </div>
            <div class="col">
                <p>Done: No</p>
            </div>
        </div>
        <div class="row">
            <div class="col-5 note">
                <h4>Note1</h4>
                <p>fdkf kasfokoaksof kpoaks fpokaspok poskpokf spoakpofk poaksof kaposkp ofkaspofksofköoaskfoasfök asöok öoska öokasöokasöfo köoskaföok öokfs öoköof köosk öosfk öoksaö ksö kök öoka föoksföao kaöof köaok ö ökkökök</p>
            </div>
            <div class="col-5 note">
                <h4>Note2</h4>
                <p>fdkf kasfokoaksof kpoaks fpokaspok poskpokf spoakpofk poaksof kaposkp ofkaspofksofköoaskfoasfök asöok öoska öokasöokasöfo köoskaföok öokfs öoköof köosk öosfk öoksaö ksö kök öoka föoksföao kaöof köaok ö ökkökök</p>
            </div>
            <div class="col-5 note">
                <h4>Note3</h4>
                <p>fdkf kasfokoaksof kpoaks fpokaspok poskpokf spoakpofk poaksof kaposkp ofkaspofksofköoaskfoasfök asöok öoska öokasöokasöfo köoskaföok öokfs öoköof köosk öosfk öoksaö ksö kök öoka föoksföao kaöof köaok ö ökkökök</p>
            </div>
        </div>
    </div>
</div>
