@model LearningDiaryApp.Models.Task

@{
    ViewData["Title"] = "Create Task";
    var toId = ViewData["TopicId"] as int?;
}
<div class="text-center">
    <h1>Create Task for Topic: @toId</h1>

    <hr />
    <div class="row">
        <div class="col">
            <form asp-action="CreateTask">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Deadline" class="control-label"></label>
                    <input asp-for="Deadline" class="form-control" />
                    <span asp-validation-for="Deadline" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Priority" class="control-label"></label>
                    <br />
                    <input id="progRadio111" type="radio" value="Low" asp-for="Priority" class="form-control progRadio" />
                    <label for="progRadio111">Low</label>
                    <input id="progRadio222" type="radio" value="Medium" asp-for="Priority" class="form-control progRadio" />
                    <label for="progRadio222">Medium</label>
                    <input id="progRadio333" type="radio" value="High" asp-for="Priority" class="form-control progRadio" />
                    <label for="progRadio333">High</label>
                    <span asp-validation-for="Priority" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Done" class="control-label"></label>
                    <br />
                    <input id="progRadio11" type="radio" value="true" asp-for="Done" class="form-control progRadio" />
                    <label for="progRadio11">Yes</label>
                    <input id="progRadio22" type="radio" value="false" asp-for="Done" class="form-control progRadio" />
                    <label for="progRadio22">No</label>
                    <span asp-validation-for="Done" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="TopicId" class ="form-control" value="@toId" style="display: none;"/>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                    <a asp-controller="Home" asp-action="Index">Back</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
