/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 4em;
    font-family: "Lucida Console";
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.container {
    max-width: none;
}

header {
    background-color: mediumpurple;
    padding-top: .2em;
}

nav {
    margin-top: .5em;
}

h1 {
    margin: .7em;
    margin-bottom: 0;
}

.homeheader {
    background: rgb(100, 211, 189);
}

.btn {
    background: green;
    border-width: 0;
    border-radius: 0%;
    margin-left: 1em;
    margin-right: 1em;
}

.btn:hover {
    background: blue;
}

.topic {
    margin-bottom: 2em;
    background: lightgray;
    border-radius: 1em;
    max-width: 92%;
    padding-top: .5em;
}

.task {
    background: lightblue;
    width: auto;
    padding-top: .5em;
    margin: 1.5em;
    border-radius: 1em;
}

.note {
    background: lightyellow;
    margin: 1em;
    padding-top: .7em;
}

h4 {
    font-size: 1.1em;
}

.missing {
    margin-top: 5em;
}

#intro {
    font-style: italic;
}

#ok {
    margin: 1.5em;
}

.addButt {
    font-family: "Arial";
    font-weight: 900;
    font-size: .8em;
    height: 1.6em;
    max-width: 4em;
    border: 0;
    padding: 0;
    padding-left: .3em;
    padding-right: .3em;
    margin-left: 0;
    margin-right: 0;
    border-radius: .5em;
    color: black;
}

.addButt:hover {
    background: rgb(100, 211, 189);
    color: black;
}

#topiButt {
    background-color: lightgray;
}

#topiButt:hover {
    background: rgb(100, 211, 189);
    color: black;
}

#tasButt {
    background-color: lightblue;
}

#tasButt:hover {
    background: rgb(100, 211, 189);
    color: black;
}

#notButt {
    background-color: lightyellow;
}

#notButt:hover {
    background: rgb(100, 211, 189);
    color: black;
}

#addTopic {
    margin-top: 1.5em;
    margin-bottom: 1em;
}
